<p>
  <img src="/ads/<%= @ad.filename %>" height="<%= @ad.height %>" width="<%= @ad.width %>" />
</p>
<p>
  <b>Title:</b>
  <%= @ad.title %>
</p>
<p>
  <b>Content:</b>
  <%= @ad.content %>
</p>
<p>
  <b>Width:</b>
  <%= @ad.width %>
</p>
<p>
  <b>Height:</b>
  <%= @ad.height %>
</p>
<p>
  <b>Filename:</b>
  <%= @ad.filename %>
</p>
<p>
  <b>Destination url:</b>
  <%= @ad.url %>
</p>
<p>
  <b>Is active:</b>
  <%= @ad.is_active %>
</p>
