<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :t_number %><br />
    <%= f.text_field :t_number, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :college %><br />
    <%= f.text_field :college, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :department %><br />
    <%= f.text_field :department, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :rank %><br />
    <%= f.text_field :rank, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :rank_date %><br />
    <%= f.date_field :rank_date, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :tenure_date %><br />
    <%= f.date_field :tenure_date, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
