<!--h1><%= @user.first_name %> <%= @user.last_name %></h1>

<p><%= @user.major %></p>
<p><%= @user.degree_program %></p>
<p><%= @user.department %></p>
<p><%= @user.year_started %></p>
<p><%= @user.email %></p-->
