<!DOCTYPE html>
<html>
<head>
  <title>Railscms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">RailsCMS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<ul class="nav navbar-nav">
        		<li><%= link_to "Home", root_path %></li>
        		<% @pageNav.each do |page| %>
        			<li><%= link_to page.title, page_path(page.id) %></li>
        		<% end %>
        	</ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <%= render 'blocks/jumbotron' %>

    <div class="container">
    	<!-- Alerts & Messages -->
      <% if flash[:notice] %>
        <div class="alert alert-success"><%= flash[:notice] %></div>
      <% end %>

      <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>

       <%= render 'blocks/block' %>

      	<%= yield %>
		<hr>
      	<footer>
        	<p>&copy; Company 2014</p>
      	</footer>
    </div> <!-- /container -->
</body>
</html>
